@import url("https://fonts.googleapis.com/css?family=Aldrich");
#backgroundcolor {
  height: 100%;
  width: 100%;
  background-color: #eaf2ff;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1025px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -1px;
    width: 100vw;
    height: 100px;
    background-color: white;
  }
  #header nav {
    padding-right: 20px;
  }
  #header img {
    width: 100px;
    height: 100px;
    padding-right: 30px;
  }
  #header h1 {
    font-size: 2.7em;
    font-family: "Aldrich", sans-serif;
    letter-spacing: 15px;
  }

  nav a {
    margin: 0px 20px 5px 20px;
    padding: 5px 10px;
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
}
